<div ng-include="'components/navbar/navbar.html'"></div>

<div class="form-horizontal" ng-controller="NewExpenseCtrl as newExp">
  <h2 class="col-sm-offset-2">Adding new expense</h2>
  <br/>
  <div class="col-md-6">

    <div class="form-group">
      <label class="col-md-3 control-label required">Date:</label>
         <div class="col-md-9">
           <div class="input-group">
             <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input type="text" class="form-control requiredInput" ng-model="newExp.temporary.dateTime" autoclose="true" bs-datepicker required>
             <!--<span class="input-group-btn">-->
                <!--<span class="btn btn-default"><i style="color: red; font-size: 10px; " class="glyphicon glyphicon-asterisk"></i></span>-->
              <!--</span>-->
           </div>
         </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label required">Time:</label>
      <div class="col-md-9">
       <div class="input-group">
           <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
             <input type="time" style="height: 35px" ng-model="newExp.temporary.dateTime" class="form-control requiredInput"/>
          <!--<span class="input-group-btn">-->
                 <!--<span class="btn btn-default"><i style="color: red; font-size: 10px; " class="glyphicon glyphicon-asterisk"></i></span>-->
              <!--</span>-->
         </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label required">Description:</label>
      <div class="col-md-9">
       <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i>  </span>
        <input type="text" id="focus" ng-model="newExp.temporary.description" class="form-control requiredInput" placeholder="Description here..." required=""/>
          <!--<span class="input-group-btn">-->
                <!--<span class="btn btn-default"><i style="color: red; font-size: 10px; " class="glyphicon glyphicon-asterisk"></i></span>-->
              <!--</span>-->
       </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label required">Amount:</label>
      <div class="col-md-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i>  </span>
          <input type="number" ng-model="newExp.temporary.amount" class="form-control requiredInput" placeholder="Total amount here..." required=""/>
        <!--<span class="input-group-btn">-->
                 <!--<span class="btn btn-default"><i style="color: red; font-size: 10px; " class="glyphicon glyphicon-asterisk"></i></span>-->
              <!--</span>-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Comment:</label>
      <div class="col-md-9">
        <textarea name="textArea" cols="50" rows="3" class="form-control" ng-model="newExp.temporary.comment" placeholder="Your comment here..."></textarea>

       <p><strong>Indicates mandatory fields  </strong><span><i style="color: red; font-size: 10px; " class="glyphicon glyphicon-asterisk"></i></span></p>
        <br/>
      </div>

      <div class="form-group form-horizontal">
        <div class="col-md-offset-4 col-md-8">
          <p class="help-block"> {{ message }} </p>
          <button class="btn btn btn-success" ng-click="newExp.saveNewExpense(newExp.temporary)" ng-disabled="!newExp.temporary.dateTime ||  !newExp.temporary.amount ||  !newExp.temporary.description"><i class="glyphicon glyphicon-floppy-disk"></i> Save & close</button>
          <button class="btn btn btn-danger" ui-sref="main"><i class="glyphicon glyphicon-th-list"></i> Cancel & return</button>
        </div>
      </div>
    </div>
  </div>
</div>

