<div ng-include="'components/navbar/navbar.html'"></div>

<div class="form-horizontal" ng-controller="MainCtrl as main">



<div class="clock">Current time: {{main.clock   | date:"hh:mm:ss a"}}</div>
  <section>
  <div class="row">
    <div class="col-md-4">
    <div class="well well-sm">

      <div class="form-group">
        <label class="col-md-3 control-label">From:</label>
          <div class="col-md-9">
            <input type="text" class="form-control front-inputs" ng-model="main.filters.dateFrom" autoclose="true" placeholder="Date from" bs-datepicker>
          </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">To:</label>
          <div class="col-md-9">
            <input type="text" class="form-control front-inputs" ng-model="main.filters.dateTo" autoclose="true" placeholder="Date to" bs-datepicker>
          </div>
      </div>
    </div>
    </div>

     <div class="col-md-4">
       <div class="well well-sm">

        <div class="form-group">
          <label class="col-md-3 control-label">From:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon front-inputs"><i class="fa fa-clock-o"></i></span>
              <input type="time" style="height: 35px" ng-model="main.filters.timeFrom" class="form-control"/>
            </div>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">To:</label>
          <div class="col-md-9">
            <div class="input-group">
              <span class="input-group-addon front-inputs"><i class="fa fa-clock-o"></i></span>
              <input type="time" style="height: 35px" ng-model="main.filters.timeTo" class="form-control"/>
          </div>
        </div>
        </div>

      </div>
     </div>

    <div class="col-md-4"><br/><br/>
        <div class="form-group">
          <label class="col-md-3 control-label" >Week:
          <input type="week" class="well well-sm" ng-model="main.selectedWeek" ng-change="main.refreshWeek()"/></label>
        </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">

       <div class="col-md-2">
          <button ui-sref="new" class="btn btn-sm btn-primary form-control"><i class="glyphicon glyphicon-plus"></i> New expense</button>
      </div>

      <div class="col-md-2">
        <button class="btn btn-sm btn-primary form-control" ng-click="main.filters.dateTo=undefined;main.filters.dateFrom=undefined;main.filters.timeTo=undefined;main.filters.timeFrom=undefined; main.search=''"><i class="glyphicon glyphicon-refresh"></i> Clear Filters</button>
      </div>

       <div class="form-group">
         <label class="col-md-3 control-label">Search: </label>
         <div class="col-md-3">
            <div class="input-group">
             <span class="input-group-addon front-inputs"><i class="glyphicon glyphicon-search"></i></span>
             <input type="search" list="searchList" ng-model="main.search" class="form-control front-inputs" placeholder="Search expenses here..."/>
                <datalist id="searchList">
                  <option value="Car"></option>
                  <option value="Tv"></option>
                  <option value="Laptop"></option>
                  <option value="Mobile"></option>
                </datalist>
            </div>
          </div>
       </div>

    </div>
  </div>

  <table ng-table="main.tableParams" class="table table-bordered table-condensed ">
    <tbody ng-repeat="group in $groups">
    <tr class="ng-table-group ">
      <td colspan="{{$columns.length}}">
        <a href="" ng-click="group.$hideRows = !group.$hideRows">
          <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
          <strong>{{ group.value }}</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
          Total: <strong>{{group.data[0].counter}}</strong> expenses! Week summary: {{group.data[0].weekSum |currency:'€ ':'2'}}, week average: {{group.data[0].averagePerWeek|currency:'€ ':'2'}}
      </td>
    </tr>
    <tr ng-hide="group.$hideRows" ng-repeat="expense in group.data | expenseFilter: main.filters | filter: main.search">
      <td style="width: 10%" sortable="date" data-title="'Date'">
        {{::expense.dateTime | date:'MM-dd-yyyy'}}
      </td>
      <td style="width: 10%" sortable="time" data-title="'Time'">
      {{::expense.dateTime | date:'HH:mm a'}}
    </td>
      <td style="width: 25%" sortable="description" data-title="'Description'">
        {{::expense.description}}
      </td>
      <td style="width: 10%" sortable="amount" data-title="'Amount'">
        {{::expense.amount |currency:'€ ':'2'}}
      <td style="width: 30%" sortable="comment" data-title="'Comment'">
        {{::expense.comment}}
      </td>
      <td style="width: 15%" data-title="'Actions'">
       <div class="btnContainter ">
         <button ui-sref="edit({id: expense._id})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</button>
        <button ng-click="main.deleteExpense(expense)" class="btn btn-sm btn-danger" data-toggle="modal"><i class="glyphicon glyphicon-trash"></i>Delete</button>
       </div>
      </td>
    </tr>
    </tbody>
  </table>
</section>
</div>
