<span class="input-group">
   <input type="text"
          class="form-control"
          datepicker-popup="{{format}}"
          ng-model="date"
          is-open="opened"
          min-date="minDate"
          datepicker-options="dateOptions"
          date-disabled="disabled(date, mode)"
          close-text="Close"
          required/>

   <span class="input-group-btn">
       <button
         type="button"
         class="btn btn-default"
         ng-click="open($event)">
            <i class="glyphicon glyphicon-calendar">
            </i>
       </button>
   </span>
</span>
